<h3>Show Coords</h3>
<p class="satdata">Latitude: {{this.latitude}}</p>
<p class="satdata">Longitude: {{this.longitude}}</p>
<p class="satdata">Altitude: {{this.altitude}}</p>
<p class="satdata">Velocity: {{this.velocity}}</p>